[submodule "models/edge-zk"]
	path = models/edge-zk
	url = https://huggingface.co/RobertML/edge-zk
[submodule "models/taesdxl"]
	path = models/taesdxl
	url = https://huggingface.co/madebyollin/taesdxl
